<!DOCTYPE html>
<html>
<head>
    <title>Swamps Analyzer</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link
            href="https://unpkg.com/material-components-web@6.0.0/dist/material-components-web.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script
            src="https://maps.googleapis.com/maps/api/js?key={{ gmap_key }}&callback=initialize&libraries=&v=weekly"
            defer
    ></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <script src="../static/index.js"></script>
</head>
<body>
<div id="container">

    <div id="map"></div>
    <div id="sidebar" class="mdc-typography">
        <div class="manage-panel">
            <input type="checkbox" id="toggle-cities-button" checked
                   onchange="toggleCitiesNames()">Cities Names
            </input>
            <button type="button" id="analyze" onclick="analyzeBounds()
">Analyze
            </button>
            <button type="button" id="clear-map" onclick="clearMap()
">Clear Map
            </button>
        </div>
        <div class="file" draggable="true" data-value="0">
            <span class="material-icons">map</span>
            <div class="filename">initial dataset</div>
        </div>
    </div>

</div>
</body>
</html>